@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,100;1,300&display=swap');
 
 * {
    box-sizing: border-box;
    margin:0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    color: white;
} 
body {
    background-image: url("../images/weather-background.jpg");
   background-size: cover;
}
.inputValue, .button {
  border-radius: 5px;
  color: black;
}

.inputValue {
    width: 40%;
}

 .dateContainer {
    display: flex;
    justify-content: right;
   
} 

.dateContainer h3 {
    margin-left: 20px;
    /* border: solid white; */
}

.card{
    width: 150px;
    background-color:rgba(24,24,27,0.4);
    border-radius: 10px;
    border: 1px solid white;
    margin: 20px;
}

 .title{
    /* border: solid white 2px; */
} 
 #forecast{
    background-color:rgba(24,24,27,0.4);
    border-radius: 10px;
    /* border: 1px solid white; */
    margin-left: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

#forecast h1{
    display: none;
}
.row{
    display: flex;
    align-items: center;

}

.img {
    width: 60px;
}

@media (max-width: 600px) {
    #forecast {
        flex-direction: column;
    }
    .card{
        width: 200px;
    }
}